<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="author" content="cookOLDersTeam">
    <meta name="description" content="Messenger on python flask, SayGex">
    <title>SayGex - Auth</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/authorizationPanel/login.css') }}">
</head>
<body>
  <div class="welcomeMsg">
      <img src="{{ url_for('static', filename='images/icon_photo.png') }}" width="100px">
      <div id="projectName">
          Authorization
      </div>
  </div>
  <div class="backToMain">
    <a href="/">Return to Welcome Page</a>    
  </div>
  <div class="form-box">
    <div class="form-value">
        <form action="">
            <h2><span class="lblRef">Authorization</span></h2>
            <div class="inputbox">
              <input type="text" required="">
              <label for="">Login</label>
            </div>
            <div class="inputbox">
                <ion-icon name="lock-closed-outline" role="img" class="md hydrated" aria-label="lock closed outline"></ion-icon>
                <input type="password" required="">
                <label for="">Password</label>
            </div>
            <div class="forget">
            </div>
            <button>Confirm</button>
            <div class="register">
                <p>Have no account? <a href="/reg">Register!!!</a></p>
            </div>
        </form>
    </div>
</div>
</body>
</html>