<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="author" content="cookOLDersTeam">
    <meta name="description" content="Messenger on python flask, SayGex">
    <title>SayGex</title>
    <link rel="stylesheet" href="css_content/main.css">
</head>
<body>
    
    <div class="welcomeMsg">
        <img src="image_content/icon_photo.png" width="125px">
        <div id="projectName">
            SayGex Online
        </div>
        <div>
            
        </div>
    </div>

    <div></div>
    
    <div class="blockDescriptAndInfo">
        <div class="blockDescription">
            <div class="textDescription">
                <h2>Site <a style="color:aqua">SayGex</a> is a professional programming site that was create by progers for progers</h2>
            </div>
            <div class="blockTextInfo">
                <div class="textInfo">
                    <p><h4>Information about version:
                    <br> -fixed some bugs
                    <br>last release --> sperma_html_v_0_0_1<br>
                    <a href="mailto:eqorrannev@gmail.com" style="color:brown">Tech Support</a></h4>
                </div>
            </div>
        </div>
    </div>
    
    <div class="form-box">
        <div class="form-value">
            <form action="">
                <h2>Authorization</h2>
                <div class="inputbox">
                    <ion-icon name="lock-closed-outline" role="img" class="md hydrated" aria-label="lock closed outline"></ion-icon>
                    <input type="login" required="">
                    <label for="">Login</label>
                </div>
                <div class="inputbox">
                    <ion-icon name="lock-closed-outline" role="img" class="md hydrated" aria-label="lock closed outline"></ion-icon>
                    <input type="password" required="">
                    <label for="">Password</label>
                </div>
                <div class="forget">
                </div>
                <button>Confirm</button>
                <div class="register">
                    <p>Have no account? <a href="authorizationPanel/registration.html">Register!!!</a></p>
                </div>
            </form>
        </div>
    </div>

    <footer>
        <div class="copyright">
            Copyright © 2024-2077 SayGex cookOLDersTeam. All Rights Reserved.
        </div>
    </footer>
    <script src="js_content/pyconn.js"></script>
</body>
</html>